body {
    --main-bg-color: rgb(223, 223, 223);
    background-color: var(--main-bg-color);
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}
#container {
    display: flex;
}

#countries {
    flex: 1;
    border-style: solid;
    border-color: var(--main-bg-color);
    padding-right: 1em;
    border-width: 1.2px;
    border-right-color: black;
    height: 100vh;
    overflow: auto;
    /* color: rgb(255, 238, 0); */
}
.c {
    font-size: 1.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-right: 1em;
    border-style: solid;
    border-width: 1px;
    border-color: var(--main-bg-color);
    border-bottom-color: black
    /* border-right-color: black; */
    /* border-width: 2px; */
    /* border-bottom: black; */
}

#chartjs {
    flex: 3;
    padding-left: 1em;
    padding-right: 1em;
    place-content: center;

    
}
#buttons {
    padding-top: 0.2em;
    display: grid;
    grid-template-columns: repeat(5, auto);
}
button {
    margin-left: 5em;
    margin-right: 5em;
}

#chart {
    background-color: white;
}
